
body {
  background-color: grey;
}
.newBody {
  background-color: rgb(67, 143, 118);
}
.burger-wraper {
  width: 100%;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: blueviolet;
}

.burger-nav {
  display: none;
}
.burger-nav.toggle {
  display: block;
}
.burger {
  position: absolute;
  top: 70px;
  right: 100px;
  color:red;
  font-size: 40px;

}
.burger2 {
  display: none;
}
.span1 {
  width: 35px;
  height: 5px;
  background-color: black;
  transform: rotate(45deg);
}
.spanX {
  max-width: 35px;
  width: 100%;
  height: 30px;
  top: 70px;

  position: absolute;
  top: 87px;
  right: 102px;
  display: none;
}
.spanX2 {
  display: block;
}
.span1 {
  width:40px;
  height: 5px;
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
}
.span2 {
  width: 40px;
  height: 5px;
  background-color: black;
  transform: rotate(-45deg);
  position: absolute;
}